*{
    margin: auto;
    padding: auto;
}
.modal-dialog {
    width: 100%;
}
.modal-header{
    position: relative;
    border: none;
}
.modal-footer{
    position: relative;
    border: none;
}
button.close {
    position: absolute;
    right: 11px;
    background: #000;
    color: #fff;
    padding: 0 6px;
    opacity: 1;
    border-radius: 5px;
}
.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 1;
}
.modal-content{
    width: 70%;
    height: 500px;
    background: rgb(19, 105, 180);
    justify-content: center;
    position: absolute;
    background-image: url(popup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 180px;
    top: 42px;
}
.model-inpt{
    height: 100%;
    width: 49%;
    display: inline-block;
    margin: initial;
    text-align: center;
    margin: auto;
}
.model-inpt h1{
    margin-left: 30px;
    display: inline-block;
    width: 66%;
    text-align: center;
    margin: auto;
    font-weight: 700;
    font-size: 69px;
    font-family: 'Kanit', sans-serif;
    color: #011837;
}
.model-inpt p{
    margin: 19px 0 41px 0px;
    font-weight: bold;
    font-size: 20px;
}
.model-inpt input{
    width: 70%;
    display: block;
    text-align: center;
    margin: auto;
    height: 55px;
    background: #e1e3e4;
    border: navajowhite;
    outline: 0;
}
button.sub_btn {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background: #03112d;
    border: 0;
    height: 55px;
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 13px;
}
.model-inpt h2{
    font-weight: 500;
    color: #03112d;
    font-family: 'Kanit', sans-serif;
    font-size: 26px;
}
p.close {
    opacity: 1;
    color: #03112d;
    display: block;
    float: left;
    margin-left: 83px;
    font-size: 15px;
}
p.close:hover{
    opacity: 1;
    color: #03112d;
}





